<div class="form-group">
	<div class="form-group">
	   	{{ form_label(form.name, 'Nombre del Autor') }}
	   	{{ form_widget(form.name, { 'attr': {'class': 'form-control'}}) }}
	   	{{ form_errors(form.name) }}
	</div>
</div>